[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
aiohttp = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
pytest-asyncio = "*"
pytest-env = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
